.Balance-Bolt-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.Balance-Bolt-Wrapper img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Balance-Bolt__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.Balance-Bolt__info__sum {
  font-size: 32px;
}

.balance-bolt__title {
  font-size: 16px;
}
