.Jettons-List-Wrappers {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.Card img {
  filter: brightness(60%);
}

.Jettons-List-Wrappers__info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  /* gap: 18px; */
}

.Jettons-List-Wrappers__balance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Jettons-List-Wrappers__img {
  
  max-width: 40px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
  /* overflow: hidden; */
}
.Jettons-List-Wrappers__img__wrapper {
  object-fit: cover;
  overflow: hidden;
}
.Jettons-List-Wrappers__jettons_name {
  padding-left: 10px;
}
