.Jettons-List-Wrappers {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
}

.Card img {
  filter: brightness(60%);
}

.Jettons-List-Wrappers__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.Jettons-List-Wrappers__balance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Jettons-List-Wrappers__img {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
.Jettons-List-Wrappers__img__wrapper {
  object-fit: cover;
  overflow: hidden;
}
.Jettons-List-Wrappers__jettons_name {
  padding-left: 10px;
}
