.Jettons-List-Wrappers {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
}

.Jettons-List-Wrappers__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.Jettons-List-Wrappers__balance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Jettons-List-Wrappers__img {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.Jettons-List-Wrappers__jettons_name {
  padding-left: 10px;
}



