@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dimmed-bg {
    position: relative;
    background-color: var(--tg-theme-secondary-bg-color);
  }

  html,body,head {
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-section-bg-color);
  }
  :root {
    /* height: 100vh; */
  }

  /* .dimmed-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    filter: brightness(0.7);
    z-index: -1;
  } */
}
